/// Quick sort
/// @since v1.0
/// @param {List} $list - list to sort
/// @return {List}
@function quick-sort($list) {
  $less:  ();
  $equal: ();
  $large: ();

  @if length($list) > 1 {
    $seed: nth($list, ceil(length($list) / 2));

    @each $item in $list {
      @if ($item == $seed) {
        $equal: append($equal, $item);
      } @else if ($item < $seed) {
        $less: append($less, $item);
      } @else if ($item > $seed) {
        $large: append($large, $item);
      }
    }

    @return join(join(quick-sort($large), $equal), quick-sort($less));
  }

  @return $list;
}

/// @since v1.0
/// @used as debugging console when $debug-mode is true in config.
@function console($msg){
  @if $debug-mode {
    $debug-count: $debug-count + 1 !global;
    @debug "--------#D" + $debug-count + "--------";
    @debug $msg;
    @debug "------------------------------";
  }

  @return NULL;
}